<!DOCTYPE html>
<html ng-app="Zumin" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="">

  <title><%= @page_title || "Zumin" %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <%= javascript_include_tag 'application' %>
  <script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0" type="text/javascript"></script>
  <script src="/maps/jquery.ui.bmap.full.min.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <% homepage = params[:action] == "index" && params[:controller] == "home" %>
  <body class="<% unless homepage %>padding-top<% end %>" data-signed-in="<%= user_signed_in? ? 'true' : 'false' %>">
    <%= render "layouts/header" %>
    <%= render "layouts/flash_messages" %>

    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>
